<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/eaca8a2e-30c9-48db-a8a2-40f9b35a09fc/resourcegroups/MessagesAppResourceGroup/providers/Microsoft.Web/sites/MessagesApp20240321134453</ResourceId>
    <ResourceGroup>MessagesAppResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/eaca8a2e-30c9-48db-a8a2-40f9b35a09fc/resourceGroups/MessagesAppResourceGroup/providers/Microsoft.ApiManagement/service/MessagesAppapi/apis/MessagesApp</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://messagesapp20240321134453.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>e73c396b-ab94-4781-9934-a574e1bda02f</ProjectGuid>
    <MSDeployServiceURL>messagesapp20240321134453.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MessagesApp20240321134453</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$MessagesApp20240321134453</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>