@model MessagesApp.Models.myMessage

@{
    ViewData["Title"] = "SendToQueue";
}

<h1>Message Sent to Rabbit Queue</h1>

<div>
    <h4>myMessage</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JSONmsg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JSONmsg)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
